// $color-primary: #95D7AE;
$gradient: #0078f3, #e9f4ff;
$color-primary-dark: #648381;
// #8698B8;
// $color-secondary: #454851;
// $color-secondary: #F5F0F6;

$color-primary: #0078f3;
$color-primary-light: #e9f4ff;
$color-primary-match: #e5e5be;

$color-secondary: #1f2d3d;
// #101118
$color-white: #ffffff;
$color-tint: hsl(207, 10%, 42%);

$border-radius: .4rem;
$box-shadow: 0 .5rem .5rem 0 rgba(233, 240, 243, 0.5), 0 0 0 .1rem #E6ECF8;
